.intro {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

.intro h1, p {
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  position: relative;
}

.intro h1::before {
  content: "";
  display: block;
  width: 18px;
  height: 70px;
  background: #0087D3;
  position: absolute;
  top: -20px;
  left: -25px;
}

.intro p {
  font-size: 1.5rem;
  color: #525252
}

/* .intro p::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #0087D3;
  position: absolute;
  top: -56px;
  left: 400px;
} */

@media (max-width: 1100px) {
  .intro h1 {
    font-size: 3rem;
  }
  .intro h1::before{
    width: 15px;
    height: 50px;
    top: -15px;
  }
  .intro p::before{
    left: 253px;
    top: -48px;
    width: 8px;
    height: 8px;
  }
}

@media (max-width: 800px){
  .intro {
    grid-template-columns: 1fr 1fr;
    gap: 50px;
  }
  .intro h1 {
    font-size: 2.5rem;
  }
  .intro h1::before{
    width: 10px;
    height: 35px;
    left: -15px;
    top: -10px;
  }
  .intro p::before{
    left: 210px;
    top: -45px;
    width: 6px;
    height: 6px;
  }
}

@media (max-width: 500px){
  .intro {
    grid-template-columns: 1fr;
    padding: 50px;
  }
  .intro img {
    display: none;
  }
}